<!-- Conteudo a ser exibido na página -->

{% extends "/pagina_principal/layoult_principal.html" %} <!-- Restante do conteudo esta no arquivo 'layoult.html' -->
{% block body %} <!-- Indica que o conteudo que estiver na proxima linha esta contido dentro da tag <body></body> no arquivo 'layoult.html' -->

<!-- <h1>Olá {{variavel}}!</h1>  Título principal -->

<main> <!-- TAG semantica conteúdo principal -->   
    <header> <!-- TAG semantica cabeçalho -->
        <h1>Water Quality 🌊</h1>
    </header>

    <section>

        <article> <!-- conten um conteúdo que pode ser lido de forma independente -->
            <h2>Importância do monitoramento de reservatórios</h2>

            <p>O monitoramento dos parâmetros limnológicos de bacias hidrográficas vem assumindo uma importância cada vez maior na atualidade, para que se possa garantir a manutenção e preservação da vida humana, fauna e flora.</p>

            <img src="/static/water.JPG" alt="Imagem" title="Represa Três Marias">

            <p>Para melhorar o monitoramento da qualidade da água nos reservatórios brasileiros, foi desenvolvida uma plataforma web com o objetivo de fazer a predição de parâmetros limnólogicos, o uso da tecnologia pode facilitar o monitoramento de grandes reservatórios, melhorar a qualidade do reservatório além de reduzir gastos com monitoramento em campo, nesta plataforma tem a opção de fazer a predição dos parâmetros limnólogicos turbidez e sólidos totais.</p>

            <p>Escolha uma dos parâmetros abaixo:</p>

            <aside> <!-- Complementa um conteúdo principal de um <article> ou <secton> -->

                <li>Predição Turbidez no <a href="/results_tres_marias_turbidez" target="_self" rel="next">Reservatório de Três Marias/MG</a>.</li> <!-- Adiciona acesso pagina de resultados -->

                <li>Predição Sólidos Totais no <a href="/results_tres_marias_solidos_totais" target="_self" rel="next">Reservatório de Três Marias/MG</a>.</li> <!-- Adiciona acesso pagina de resultados -->

            </aside>
        </article>
    </section>

    <footer> <!-- TAG semantica Rodapé -->
        <p>mayconeletronica@outlook.com</p>
    </footer>

</main>


{% endblock %} <!-- Indica fim da tag <body></body> no arquivo 'layoult.html' -->
