<!-- Conteudo a ser exibido na página -->

{% extends "layoult_principal.html" %} <!-- Restante do conteudo esta no arquivo 'layoult.html' -->
{% block body %} <!-- Indica que o conteudo que estiver na proxima linha esta contido dentro da tag <body></body> no arquivo 'layoult.html' -->

<!-- <h1>Olá {{variavel}}!</h1>  Título principal -->

<header> <!-- TAG semantica cabeçalho -->
    <h1>Water Quality</h1>
</header>

<main> <!-- TAG semantica conteúdo principal -->

    <section>
        <article> <!-- conten um conteúdo que pode ser lido de forma independente -->
            <h2>Importância do monitoramento de reservatórios hídricos</h2>

            <p>O monitoramento dos parâmetros de qualidade da água vem assumindo uma maior importância na atualidade, pois as águas dos reservatórios devem ter um nível mínimo de qualidade para que possa garantir a vida aquática e sua utilização para a manutenção e preservação da vida humana, fauna e flora do planeta.</p>

            <p>Pensando em melhorar o monitoramento da qualidade da água nos reservatórios brasileiros, foi desenvolvida essa plataforma web com o objetivo de fazer a predição de parâmetros limnólogicos, usando sensoriamento remoto, algoritmos de machine learnig, dados históricos de coletas da amostras de água, entre outras tecnologias.</p>

            <p>Escolha uma das páginas abaixo:</p>

            <aside> <!-- Complementa um conteúdo principal de um <article> ou <secton> -->

                <li>Predição no <a href="/results_tres_marias" target="_self" rel="next">reservatório de Tês Marias/MG</a>.</li> <!-- Adiciona acesso pagina de resultados -->

            </aside>
        </article>
    </section>

</main>

<footer> <!-- TAG semantica Rodapé -->
    <p>mayconeletronica@outlook.com</p>
</footer>

{% endblock %} <!-- Indica fim da tag <body></body> no arquivo 'layoult.html' -->
