<!-- Conteudo a ser exibido na página -->

{% extends "layoult_tres_marias.html" %} <!-- Restante do conteudo esta no arquivo 'layoult.html' -->
{% block body %} <!-- Indica que o conteudo que estiver na proxima linha esta contido dentro da tag <body></body> no arquivo 'layoult.html' -->

<h1 class="titulo_principal">Análise reservatório de Três Marias/MG</h1><br>

<p>Para fazer a predição de parâmetros limnólogicos no reservatório de Três Marias, usou dados históricos de coletas de amostras de água, dados espectrais de imagens do satelite Landsat 8 OLI, algoritmos de machine learnig. Foi feito o treinamento de algoritmos de machine learning para fazer a predição do parâmetro turbidez (até o momento).</p>

<p>Para fazer o treinamento do algoritmo de machine learning regressão linear, usou informações espectrais das bandas 2, 3, 4, 5 do Landsat 8 OLI e também os dados históricos de parâmetros limnólogicos cor verdadeira, sulfato e turbidez (Zona fótica).</p>

<p>Escolha um dentre os parâmetros abaixo para fazer a predição de turbidez:</p>
<p>
    <div id='escolha'>
        Preencha o campo "Informe parâmetro para predizer turbidez" com os parâmetros iguais aos da lista abaixo.
    </div>
</p>

<ul>
    <li>B2 - Banda 2</li>
    <li>B3 - Banda 3</li>
    <li>B4 - Banda 3</li>
    <li>B55 - Banda 3</li>
    <li>cor_verdadeira_S - Superfície</li>
    <li>sulfato_S - Superfície</li>
    <li>turbidez_ZF - Zona fótica</li>
</ul>


<form action="{{url_for('resultado')}}", method="post"> <!-- Acessa função resultado e e manda informaçõe para o servidor (POST) -->
    <label for="">Informe parâmetro para predizer turbidez:</label>
    <br>
    <input type="text" name="parametro" placeholder="Insira um parâmetro">
    <br> <br>
    <label for="">Dado para predição:</label>
    <br>
    <input type="text" name="entrada" placeholder="Insira um número">
    <br> <br>
    <button>Enviar Dados</button>

</form>

<br>

<a href="http://127.0.0.1:5000/results" target="_self" rel="prev"><button>Limpar Dados</button></a> <!-- Limpa campo com dados de predição (turbidez) e parâmetro escolhido para fazer a predição -->

<p id='TM1'>Parâmetro escolhido para fazer predição: {{variavel}}</p>
<p id='TM2'>Turbidez: {{variavel1}}</p>

<br> <!-- Salta uma linha -->
<li><a href="http://127.0.0.1:5000/" target="_self" rel="prev">Página principal</a></li> <!-- Retorna a página principal -->

{% endblock %} <!-- Indica fim da tag <body></body> no arquivo 'layoult.html' -->
